<%= title "Sobre '#{current_group.name}'" %>
<div class="actions">
  <%= link_to 'Nueva página', new_page_path if can? :create, Page %>
</div>

<table class="table">
  <% pages.each do |page| %>
    <tr>
      <td><%= link_to page.title, page %></td>
    </tr>
  <% end %>
</table>
