<%= title 'Semillero' %>
<div class="actions">
  <p>El Semillero es un repositorio de textos, ideas, etc. Están ahí
  a libre disposición de quién lo quiera usar en sus ficciones.
  Todo lo que hay en el semillero
  es Dominio Público y totalmente remezclable. Solo hay que citar el
  autor de la fuente si es que ha dejado un nombre.</p>
  <%= link_to 'Entra si quieres colaborar', login_path unless can? :create, Seed %>
</div>

<table class="table">
  <% seeds.each do |seed| %>
    <tr>
      <td>
        <%= link_to markdown(truncate(seed.body, length: 80)), seed %> 
      </td>
    </tr>
  <% end %>
</table>
