<%= title 'Semilla' %>
<div class="actions">
  <%= link_to 'Volver', seeds_path %>
  <%= link_to 'Borrar', seed, method: :delete, confirm: '¿Segura?' if can? :delete, seed %>
</div>

<%= markdown(seed.body) %>

