
#page_header {
  margin-bottom: 50px;

  .appname {margin-top: 10px; font-size: 40px; color: black; float: left;}

  nav#navigation {
    float: left;
  }

  nav#session {
    float: right;
    margin-top: 5px;
    p {font-family: "Cousine",arial,serif;}
  }
}
