<div class="banner row">
  <div class="span12">
    <%= link_to root_path do %>
      <img alt="Mundo tornado" class="responsive" src="//cambelt.co/1170x150/Mundo+tornado+(1170x150)?font=Questrial&amp;font_size=48&amp;color=#cccccc,#333333">
    <% end %>
  </div>
</div>

