<div class="container">
  <div id="page-header" class="row">
    <div class="span6 offset3">
      <% if current_user %>
        <div id="session">
          <p>Hola <%= link_to current_user.name, [:edit, current_user] %> | <%= link_to 'Salir', logout_path %></p>
        </div>
      <% end %>
      <a href="/" class="appname">
        <h3><%= current_group.name %><small> #bookcamping</small></h3>
      </a>
    </div>
  </div>
</div>
