<div class="container">
  <header id="page_header" role="banner">
  <a href="/" class="appname">
    <h3>Pubhub<small> #bookcamping</small></h3>
  </a>
  <nav id="navigation" role="navigation">
  <ul>
    <%#= nav_tab :publications, publications_path, current: :publications %>
  </ul>
  </nav>
  <% if current_user %>
    <nav id="session">
    <p>Hola <%= current_user.name %> <%= link_to 'Salir', logout_path %></p>
  </nav>
<% end %>
</header>
</div>
